
img {
  width: 100%
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}


.header {
  text-align: right;
  min-height: 80px;
  font-size: 2em;
  border-bottom: thin solid black;
  padding: 10px 0px;
}

.header_left {
  color: #FF4000;
  font-size: 2em;
  padding-top: 10px;
  border-bottom: thin solid black;
  padding: 10px 0px;
}

.menu {
  height: 950px;
  border: thin solid;
  padding: 10px;
  margin-top: 10px;
}

.items {
  margin-top: 10px;
}


.categories {
  margin-bottom: 10px;
}

.shipping {
  margin-bottom: 10px;
  border-top: thin solid black;
}

#etsy-item {
  height: 200px;
}

.shell .offset-1 {
  margin-left: 5%
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media(max-width: 768px) {
  .header {
    font-size: 1em;
  }
  .header_left {
    font-size: 1em;
  }
  .menu {
    display: none;
    white-space: nowrap;
  }
}

@media(max-width: 992px){
  .menu {
    height: 1150px;
  }
}

@media(max-width: 1200px) {
  .menu {
    font-size: .8rem;
  }
}
